@{
    ViewBag.Title = "About";
}
<!--
   <h2>About</h2>
<h3>Welcome to mini tekstac platform, we are here to redifine the way you can upgrade skills</h3>

<p>Hold Up. Register. Login. Explore. Take Off!!</p>

-->
<div class="row row-no-gutters" style="margin-top:50px;">
    <div class="col-md-4">
        <h3 style="font-weight:600;text-align:center;background-color:#11C06C; padding:5px 0px; color:white;">What is Mini Tekstac?</h3>
    </div>
    <div class="col-md-8" style="border-left:1px solid #b3b3b3;padding:0em 3em; font-size:17px;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p><br>
        <p>Hold Up. Register. Login. Explore. Take Off!!</p>
    </div>
</div>